<div class="content">
    <h1>{{bookDetailCtrl.book.name}}</h1>
    <ul>
        <h3 ng-repeat="authors in bookDetailCtrl.book.author">{{authors}}</h3>
    </ul>
    <img ng-src="{{bookDetailCtrl.titleImage}}" id="titleImage"/>
    <div class="images" >
        <img ng-repeat="img in bookDetailCtrl.book.images" ng-src="{{img}}" ng-click="changeImg(img)" class="thumb"/>
    </div>
    <h4><b>Price:</b> {{bookDetailCtrl.book.price}}</h4>
    <p><b>Available:</b> {{bookDetailCtrl.book.availableOnWarehouse}}</p>
    <p><b>Categories:</b></p>
    <ul>
        <li ng-repeat="categories in bookDetailCtrl.book.category">{{categories}}</li>
    </ul>
    <p><b>Pages:</b> {{bookDetailCtrl.book.pages}}</p>
    <p><b>Publisher:</b> {{bookDetailCtrl.book.publisher}}</p>
    <p><b>Cover:</b> {{bookDetailCtrl.book.cover}}</p>
    <p><b>Language:</b> {{bookDetailCtrl.book.language}}</p>
    <p><b>isbn-10:</b> {{bookDetailCtrl.book['isbn-10']}}</p>
    <p><b>isbn-13:</b> {{bookDetailCtrl.book['isbn-13']}}</p>
    <p><b>Year:</b> {{bookDetailCtrl.book.year}}</p>
    <p><b>Rating:</b> {{bookDetailCtrl.book.rating}}</p>
    <p><b>Description:</b> {{bookDetailCtrl.book.description}}</p>
    <a href="#/books">Back</a>
</div>
