<div class="col-md-10">
    <h1>{{$ctrl.book.name}}</h1>
    <ul>
        <h3 ng-repeat="authors in $ctrl.book.author">{{authors}}</h3>
    </ul>
    <img ng-src="{{$ctrl.book.images[0]}}"/>
    <div class="images">
        <img ng-repeat="img in $ctrl.book.images" ng-src="{{img}}" class="thumb">
    </div>
    <h4><b>Price:</b> {{$ctrl.book.price}}</h4>
    <p><b>Available:</b> {{$ctrl.book.availableOnWarehouse}}</p>
    <p><b>Categories:</b></p>
    <ul>
        <li ng-repeat="categories in $ctrl.book.category">{{categories}}</li>
    </ul>
    <p><b>Pages:</b> {{$ctrl.book.pages}}</p>
    <p><b>Publisher:</b> {{$ctrl.book.publisher}}</p>
    <p><b>Cover:</b> {{$ctrl.book.cover}}</p>
    <p><b>Language:</b> {{$ctrl.book.language}}</p>
    <p><b>isbn-10:</b> {{$ctrl.book['isbn-10']}}</p>
    <p><b>isbn-13:</b> {{$ctrl.book['isbn-13']}}</p>
    <p><b>Year:</b> {{$ctrl.book.year}}</p>
    <p><b>Rating:</b> {{$ctrl.book.rating}}</p>
    <p><b>Description:</b> {{$ctrl.book.description}}</p>
    <a href="#/books">Back</a>
</div>
