################################################################################
### we don't need generated sources and ide specific folder in our repository
################################################################################
.idea
target
*.iml
node
node_modules
*.log
*.log.*