<div class="sidebar">
    <form role="form">
        <div class="search form-group">
            <input class="form-control" ng-model="input" ng-change="search(input)" ng-focus="checkInputText()"
                   ng-blur="checkInputText()"
                   id="search-input"/>
            <label for="nameCheckbox">book names</label>
            <input type="checkbox" id="nameCheckbox" ng-model="nameFlag" ng-change="search(input)">
            <label for="authorCheckbox">authors</label>
            <input id="authorCheckbox" type="checkbox" ng-model="authorFlag" ng-change="search(input)">
            <label for="categoryCheckbox">categories</label>
            <input id="categoryCheckbox" type="checkbox" ng-model="categoryFlag" ng-change="search(input)">
            <label for="priceCheckbox">prices</label>
            <input id="priceCheckbox" type="checkbox" ng-model="priceFlag" ng-change="search(input)">
        </div>
        <div class="search form-group">
            <label for="sorter">Sort by:</label>
            <select class="form-control" id="sorter" ng-model="$root.orderProp">
                <option value="name">Alphabetical</option>
                <option value="price">Price</option>
            </select>
        </div>
    </form>
    <div class="navbar navbar-inverse navbar-fixed-left">
        <span class="navbar-brand" >Categories:</span>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a href="#/books" ng-click="search('')">View all</a>
        </li>
        <li class="nav-item" ng-repeat="link in categories">
            <a href="#/books" ng-click="$root.searchByCategory(link.name)">{{link.name}}</a>
        </li>
    </ul>
        </div>
</div>