<div class="sidebar">
    <input ng-model="input" ng-change="search(input)" ng-focus="checkInputText()" ng-blur="checkInputText()" id="search-input"/>
    <b>Search by: </b><br>
    <label><input type="checkbox" ng-model="nameFlag" ng-change="search(input)">book names</label>
    <label><input type="checkbox" ng-model="authorFlag" ng-change="search(input)">authors</label>
    <label><input type="checkbox" ng-model="categoryFlag" ng-change="search(input)">categories</label>
    <label><input type="checkbox" ng-model="priceFlag" ng-change="search(input)">prices</label>
    <h3>Categories:</h3>
    <ul>
        <li ng-repeat="link in categories">
            <a href="#/books" ng-click="putDefaultToInput();searchCategory(link)">{{link}}</a>
        </li>
    </ul>
</div>