<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <!--Sidebar content-->

        </div>


        <div class="col-md-offset-3">
            <!--Body content-->
            <div>
                <div ng-repeat="book in $root.books | orderBy: $root.orderProp" class="single_image">
                    <a href="#!/books/{{book.id}}">
                        <img ng-src="{{book.imageUrl}}"/>
                        <div id="price_label">
                            <img src="img/resources/price-label.png"/>
                            <label ng-click="$root.searchByPrice(book.price)">${{book.price}} </label>
                        </div>
                        <span>{{book.name}} </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>