body {
    padding: 20px;
}

h1 {
    border-bottom: 1px solid gray;
}

.container-fluid{
    padding-top: 3em;
    position: relative;
}

/* View: Book list */
.books {
    list-style: none;
}

.books li {
    clear: both;
    height: 13em;
    padding-top: 1.5em;
}

.thumb {
    float: left;
    height: 10em;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 7em;
}

/* View: Book detail */
.book {
    background-color: white;
    border: 1px solid black;
    float: left;
    height: 500px;
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    width: 400px;
}

.price {
    font-size: large;
    color: red;
}

.book-thumbs {
    list-style: none;
    margin: 0;
}

.book-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
}

.book-thumbs li {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
}

.specs {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}

.specs dt {
    font-weight: bold;
}

.specs > li {
    vertical-align: top;
    width: 250px;
}

.specs > li > span {
    font-size: 1.2em;
    font-weight: bold;
}

/*Header and footer*/

.fixedfooter {
    position: fixed;
    bottom: 0em;
    left: 0em;
    width: 100%;
    height: 3.5em;
    color: white;
    background: black;
    padding: 1em 1em 1em 1em;
    border-style: solid;
    border-top-color: red;
    border-width: 0.1em 0 0 0;
}

.copyright {
    float: right;
    color: white;
    font-size: 1.0em;
}
#headerTop{
    border-style: solid;
    border-bottom-color: red;
    border-width: 0 0 0.1em 0;
}
.navbar-bluesy {
    color: white;
    background: black;
}

.navbar-bluesy .navbar-brand {
    color: white;
}

.navbar-bluesy .nav > li > a {
    color: white;
}

.navbar-bluesy .nav > li > a:focus, .navbar-bluesy .nav > li > a:hover {
    background-color: red;
}