body {
    padding: 20px;
}

h1 {
    border-bottom: 1px solid gray;
}

.container-fluid{
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
}

/*sidebar view*/
.sidebar{
    width: 20%;
    border-color: #ff0000;
    float: left;
    position: fixed;
    top: 6%;
    z-index: 90;
    overflow: auto;
}
.navbar-fixed-left {
    width: 100%;
    height: 60rem;
    margin-top: 2%;
    float: left;
    overflow: auto;
}

.nav-item {
    width: 100%;
}

.nav-item a {
    height: 40px;
    display:block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: justify;
}

.nav-item a:hover {
    color: #ff0000;
    font-weight: bold;
    background-color: #E0E0E0;
    transition: color 0.3s, background 0.5s, font-weight 0.1s;
}

/*search*/
.search > input:focus, .search > select:focus {
    border-color: #ff0000;
}
/*categories list*/
.sidebar .navbar-inverse{
    background-color: #000000;
    border-style: solid;
    border-color: #ff0000;
    border-width: 0.1em;
}

.sidebar .navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

/* View: Book list */
.single_image {
    position: relative;
    width: 30%;
    height: 500px;
    margin: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.single_image:hover{
    border: 0.1em solid #ff0000;
    color: #ff0000
}

.single_image div#price_label img{
    height: 50px;
    width: 100px;
}

.single_image div#price_label{
    position: absolute;
    top:0;
    left:0;
    height: 50px;
    width: 100px;
}

.single_image label{
    color: #FFFFFF;
    font: bold 22px/45px Helvetica, Sans-Serif;
    position: absolute;
    top: 3px;
    left: 20px;
    width: 70%;
    text-align: center;
}

.single_image span:hover{
    color: #ff0000;
}

.single_image span{
    color: #FFFFFF;
    font: bold 22px/45px Helvetica, Sans-Serif;
    position: absolute;
    bottom: 10px;
    left: 0;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding-left: 10px;
    padding-right: 10px;
}

/* View: Book detail */
.book {
    background-color: white;
    border: 1px solid black;
    float: left;
    height: 500px;
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    width: 400px;
}

.price {
    font-size: large;
    color: #ff0000;
}

.book-thumbs {
    list-style: none;
    margin: 0;
}

.book-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
}

.book-thumbs li {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
}

.specs {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}

.specs dt {
    font-weight: bold;
}

.specs > li {
    vertical-align: top;
    width: 250px;
}

.specs > li > span {
    font-size: 1.2em;
    font-weight: bold;
}

/*add to favorite in detail-view*/
.favorite img{
    height: 30px;
    width: 30px;
}

.favorite.ng-enter, .favorite.ng-leave {
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.favorite.ng-enter,
.favorite.ng-leave.ng-leave-active {
    opacity:0;
}

.favorite.ng-leave,
.favorite.ng-enter.ng-enter-active {
    opacity:1;
}

/*Header and footer*/

.fixedfooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    color: #FFFFFF;
    background: #000000;
    padding: 1em 1em 1em 1em;
    border: 0 solid;
    border-top: 0.1em #ff0000;
}

.copyright {
    float: right;
    color: #FFFFFF;
    font-size: 1.0em;
}
#headerTop{
    height: 5%;
    border: 0 solid;
    border-bottom: 0.1em #ff0000;
}
.navbar-bluesy {
    color: #FFFFFF;
    background: #000000;
}

.navbar-bluesy .navbar-brand {
    color: white;
}

.navbar-bluesy .nav > li > a {
    color: white;
}

.navbar-bluesy .nav > li > a:focus, .navbar-bluesy .nav > li > a:hover {
    background-color: red;
}

/*googleMaps container*/
#googleMap {
    width:500px;
    height:380px;
}

/*Wishlist*/
.single_image div#delete_label img{
    height: 50px;
    width: 50px;
}

.single_image div#delete_label{
    position: absolute;
    top:0;
    right:0;
    height: 50px;
    width: 50px;
}
