body {
    background: #C5E1A5 linear-gradient(135deg,
    #F5F5F5 0%,
    #EEEEEE 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    overflow-x: hidden;
    margin: 8px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #7f09e6;
    text-decoration: none;
}

.sidebar{
    width: 20%;
    float: left;
    position: fixed;
    top: 0;
    z-index: 0;
    overflow: auto;
}

.sidebar h3{
    color: #7f09e6;
}

.navigation {
    width: 100%;
    list-style: none;
    padding-left: 0;
    padding-right: 5%;
}

.nav-item {
    width: 100%;
}

.nav-item a {
    height: 40px;
    display:block;
    text-decoration:none;
    font-size: 2rem;
    text-align: justify;
}

.nav-item a:hover {
    color: #7f09e6;
    font-weight: bold;
    background-color: #E0E0E0;
    transition: color 0.3s, background 0.5s, font-weight 0.1s;
}

.header{
    width: 79.1%;
    height: 30px;
    background-color: #E0E0E0;
    position: fixed;
    z-index: 1;
    margin-top: 10px;
    margin-left: 19.5%;
    top:0;
}

.header_navigation{
    float: left;
    width: 50%;
}

.header_navigation a{
    width: 20%;
    display:block;
    text-decoration:none;
    font-size: 2rem;
    text-align: center;
    float: left;
}

.search{
    width: 20%;
    position: fixed;
    right: 0;
}

.search #search-input{
    width:100%;
}

.search label{
    font-weight: normal;
}

.site-wrap{
    margin-left: 20%;
    margin-top: 50px;
    z-index: 2;
}

.single_image {
    position: relative;
    width: 30%;
    height: 500px;
    margin: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.single_image span{
    color: white;
    font: bold 22px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.single_image a>img{
    flex-shrink:1;
    min-width:100%;
    min-height:100%
}

.single_image h2 span:hover {
    color: #7f09e6;
}

.single_image h2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer {
    width: 100%;
    height: 10%;
    clear: both;
    background-color: #E0E0E0;
    margin-left: -0.3%;
}

.thumb{
    width: 10%;
    height: 10%;
}
