body {
    padding: 20px;
}

h1 {
    border-bottom: 1px solid gray;
}

.container-fluid{
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
}

/*sidebar view*/
.sidebar{
    width: 20%;
    float: left;
    position: fixed;
    top: 6%;
    z-index: 90;
    overflow: auto;
}

.sidebar h3{
    color: #7f09e6;
}

.navigation {
    width: 100%;
    list-style: none;
    padding-left: 0;
    padding-right: 5%;
}

.nav-item {
    width: 100%;
}

.nav-item a {
    height: 40px;
    display:block;
    text-decoration:none;
    font-size: 2rem;
    text-align: justify;
}

.nav-item a:hover {
    color: #7f09e6;
    font-weight: bold;
    background-color: #E0E0E0;
    transition: color 0.3s, background 0.5s, font-weight 0.1s;
}

/* View: Book list */
.single_image {
    position: relative;
    width: 30%;
    height: 500px;
    margin: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.single_image span{
    color: white;
    font: bold 22px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.single_image a>img{
    flex-shrink:1;
    min-width:100%;
    min-height:100%
}

.single_image h2 span:hover {
    color: #7f09e6;
}

.single_image h2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* View: Book detail */
.book {
    background-color: white;
    border: 1px solid black;
    float: left;
    height: 500px;
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    width: 400px;
}

.price {
    font-size: large;
    color: red;
}

.book-thumbs {
    list-style: none;
    margin: 0;
}

.book-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
}

.book-thumbs li {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
}

.specs {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}

.specs dt {
    font-weight: bold;
}

.specs > li {
    vertical-align: top;
    width: 250px;
}

.specs > li > span {
    font-size: 1.2em;
    font-weight: bold;
}

/*Header and footer*/

.fixedfooter {
    position: fixed;
    bottom: 0em;
    left: 0em;
    width: 100%;
    height: 5%;
    color: white;
    background: black;
    padding: 1em 1em 1em 1em;
    border-style: solid;
    border-top-color: red;
    border-width: 0.1em 0 0 0;
}

.copyright {
    float: right;
    color: white;
    font-size: 1.0em;
}
#headerTop{
    height: 5%;
    border-style: solid;
    border-bottom-color: red;
    border-width: 0 0 0.1em 0;
}
.navbar-bluesy {
    color: white;
    background: black;
}

.navbar-bluesy .navbar-brand {
    color: white;
}

.navbar-bluesy .nav > li > a {
    color: white;
}

.navbar-bluesy .nav > li > a:focus, .navbar-bluesy .nav > li > a:hover {
    background-color: red;
}