body {
    padding: 2%;
}

.header{
    width: 100%;
    height: 10%;
}

.sidebar{
    width: 20%;
    height: 68%;
    padding-right: 1%;
    float: left;
    position: static;
}

.content{
    margin-left: 20%;
}

.footer {
    width: 100%;
    height: 10%;
    clear: both;
}

.sidebar input{
    width:96%;
}

.thumb{
    width: 10%;
    height: 10%;
}

.images{

}
